- models.delete(".") && models.delete("..") && models.delete(".DS_Store") if models.any?
- if models.any?
	- active = 'active'
	#basic_carousel.carousel.slide{ style: "max-width: 768px; min-height: 320px"}
		.carousel-inner
			- models.each do |model|
				- next if File.directory?( File.join(settings.public_folder, "images", "brands", brand, subfolder, @img_res, model ) )
				.item{ class: "#{active}"}
					.container-fluid.well
						.row-fluid{ style: "background-color: #fff"}
							.span3
								%img{ width: "128px", src: "/images/brands/#{brand}/#{subfolder}/#{@img_res}/#{ model }"}
							.span9
								.musters
									- Dir.entries( File.join(settings.public_folder, "images", "brands", brand, subfolder, model[0..4], @img_res) ).each do |muster|
										- next if File.directory? muster
										- next unless muster =~ /sample/
										%a{ href: "/#{brand}/basics_muster?muster=#{muster}&subfolder=#{subfolder}", :"data-file" => "#{muster}" }
											%img.muster{ width: "64px", src: "/images/brands/#{brand}/#{subfolder}/#{ model[0..4] }/#{@img_res}/#{muster}", style: "margin: 10px" }
				- active = ''

		%a{ class: "carousel-control left", href: "#basic_carousel", :"data-slide"=>"prev", style: "top: 100%"  } &lsaquo;
		%a{ class: "carousel-control right", href: "#basic_carousel", :"data-slide"=>"next", style: "top: 100%" } &rsaquo;

	:javascript

		$( function(){
	
			$('.musters a').on( 'click', function(e){
				$a=$(e.target).closest('a');
				url=$a.attr('href');
				$('.modal-body').load(url);
				titles = $a.data('file').split("_");
				$('#musterbox h3').html( "# " + titles[1] + ' ' + titles[2]);
				$('#musterbox').modal('show');
				e.preventDefault();
			})
	
		})