- files.delete(".") && files.delete("..") && files.delete(".DS_Store") if files.any?
- if files.any?
	- active = true
	#jeff_carousel.carousel.slide{ style: "max-width: 768px"}
		.carousel-inner
			- files.sort.each do |pic|
				- if active
					- active = false
					.active.item
						%img{ style: "width: #{get_width}", src: "/images/brands/#{brand}/collections/#{season}/#{@img_res}/#{ pic}"}
						.download_button.hidden-phone.hidden-tablet
							%a{ href: "#", :"data-url" => "/images/brands/#{brand}/collections/#{season}/hires/#{ pic}", class: "btn btn-invers btn-mini"} Download
				- else 
					.item
						%img{ style: "width: #{get_width}", src: "/images/brands/#{brand}/collections/#{season}/#{@img_res}/#{ pic}"}
						.download_button.hidden-phone.hidden-tablet
							%a{ href: "#", :"data-url" => "/images/brands/#{brand}/collections/#{season}/hires/#{ pic}", class: "btn btn-invers btn-mini"} Download

		%a{ class: "carousel-control left", href: "#jeff_carousel", :"data-slide"=>"prev" } &lsaquo;
		%a{ class: "carousel-control right", href: "#jeff_carousel", :"data-slide"=>"next" } &rsaquo;

	:javascript
	
		$( function(){
			$('.download_button a').on( 'click', function(e){
				url = '/download'+$(e.target).data('url');
				window.open(url);
				e.preventDefault();
			});
		});