!!! 5
%html{ class: "no-js", lang: "da" } 
	/ 	
	/   - - - - - - - - - - - - - - - - - - - - -
	/ 
	/ 	   Title : WEB Appliances Crest Inc, Web Form Framework
	/ 	   Author : Enrique Phillips 
	/ 	   URL : http://www.wac.bz
	/ 
	/ 	- - - - - - - - - - - - - - - - - - - - - 
	%head
		= haml :head, :locals => { :brand => (brand rescue "") }
		:css
			html, body, .content { background-color: #111; }

	%body
		= haml :jeans_new3_collection, :locals => { :brand => brand }
		/ = haml "#{brand}_header".to_sym
		/ 				
		/ .container-fluid.content
		/ 	.row-fluid
		/ 		#content.span9.left_content
		/ 			/ = haml :jeans_new_collection, :locals => { :brand => brand }
		/ 			= haml :jeans_new2_collection, :locals => { :brand => brand }
		/ 
		/ 		#sidebar.span3.center
		/ 			= haml "#{brand}_sidebar".to_sym
		/ 			
		/ 			
		/ %footer.footer.container-fluid
		/ 	.row-fluid
		/ 		#about.span10.offset1
		/ 			= haml "#{brand}_footer".to_sym						
		/ 	.row-fluid{style: "margin-top: 20px"}
		/ 		#about.span10.offset1
		/ 			= haml :fbi_footer



	= javascript_tags

	:javascript
		
		$( function(){
			$('.carousel').carousel('pause');
			$("#fbi_carousel").swiperight(function() {  
				$('.report').html('swiped right');
				$("#fbi_carousel").carousel('prev');  
			});  
			$("#fbi_carousel").swipeleft(function() {  
				$('.report').html('swiped left');
				$("#fbi_carousel").carousel('next');  
			});  
		})
	